/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 .header-wrapper .header-right-wrap .nav .nav-item{
    margin-left:10px;
  }
 .content-wrapper {
   width:100%;
   height:100%;
  //  background:url('../../img/logo.jpg');
   #base-list-layout{
      // background:#fff;
      // border:1px solid;
      // border-color:#fff #FFF;
      // border-radius: 20px;
      // padding:30px;
      // box-shadow: inset 0 0 6px rgba(219,213,213,.3);
    }
    .nav-link{
        // background-image: -webkit-linear-gradient(left,#22c1c3,#fdbb2d 25%,#22c1c3 50%,#fdbb2d 75%,#22c1c3);
    }
  }
.nav {
  .nav-item:nth-child(2){
      width:210px;
  }
  .nav-item{
     text-align: center;
  }
}
.vuepress-blog-theme-content:not(.custom) > *:first-child {
  margin-top:0;
 
}
.vuepress-blog-theme-content{
    h1{
      // text-align: center;
      // background-image: -webkit-linear-gradient(left,#22c1c3,#fdbb2d 25%,#22c1c3 50%,#fdbb2d 75%,#22c1c3);
    }
  }
.img_title{
  position relative
  margin:0 auto;
  display:block;
  
}
.img_porper{
   position absolute;
   top:0;
   left:0;
  }