/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
$theme = #4285f4

$accentColor = $theme
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #282c34
