/*基于视觉稿横屏尺寸/100得出的基准font-size,750设计稿@bfnontSize为100  引入js为baseForphone750.v20190523.min.js*/
/*定义样式名称*/
/*定义padding*/
* {
  margin: 0;
  padding: 0;
  font-family: PingFang-SC-Medium;
  font-size: 0.24rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
}
body,
html {
  width: 100%;
  height: 100%;
}
.ContainerWarp .header {
  display: flex;
  justify-content: space-between;
  height: 1rem;
  color: #eacd91;
  line-height: 1rem;
  background-image: linear-gradient(180deg, #1d1e23 0%, #16171b 100%), linear-gradient(#6face2, #6face2);
  background-blend-mode: normal, 
            normal;
}
.ContainerWarp .header h2 {
  font-size: 0.34rem;
  width: 60%;
  text-align: right;
}
.ContainerWarp .header div {
  line-height: 1rem;
  vertical-align: middle;
  width: 6%;
}
.ContainerWarp .header div img {
  width: 0.18rem;
  height: 0.31rem;
}
.ContainerWarp .ty_body .ul li {
  height: 2.44rem;
  background-color: #2d2f37;
}
.ContainerWarp .ty_body .ul li .title {
  height: 0.63rem;
  padding-top: 0.2rem;
  text-indent: 0.16rem;
  line-height: 0.63rem;
  color: #999999;
}
.ContainerWarp .ty_body .ul li .numlist {
  display: flex;
  justify-content: space-around;
  padding: 0 0.1rem;
}
.ContainerWarp .ty_body .ul li .numlist div {
  width: 0.56rem;
  height: 0.56rem;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 0.56rem;
  font-size: 0.26rem;
  color: #fefefe;
}
.ContainerWarp .ty_body .ul li .numlist div img {
  width: 0.17rem;
  height: 0.28rem;
}
.ContainerWarp .ty_body .ul li .opationList {
  height: 0.63rem;
  padding: 0.2rem 0 0.4rem 0;
  display: flex;
  width: 73%;
  justify-content: space-around;
}
.ContainerWarp .ty_body .ul li .opationList div {
  width: 0.44rem;
  height: 0.44rem;
  color: #d6d6d6;
  border-radius: 0.08rem;
  border: solid 0.01rem #666666;
  line-height: 0.44rem;
  text-align: center;
}
