<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>主页</title>
		<link rel="stylesheet" charset="utf-8" type="text/css" href="static/css/style.css" />
	</head>
	
	<body>
	    <div class="app" id="app">
			<header class="header">
				<div  class="left"><img src="./static/img/hr.png" alt="" @click="handacticity"></div>
				<div class="logo"><img src="./static/img/logo.png" alt="" ></div>
			</header>
			<aside>
				<img src="./static/img/loubo3.png" alt="">
			</aside>
			<div class="bigmao">
				<nav>
					<div>
						<img src="./static/img/lb.png" alt="">
						<span>更多更大的优惠活动,敬请期待......</span>
					</div>
				</nav>
				<div class="middle">
					<p class="d-device">推荐咨询</p>
					<ul>
						<li v-for="item in list" :key="item.id">
							<img :src="`./static/img/${item.icon}.png`" alt="">
							<p v-html='item.title'></p>
						</li>
					</ul>
				</div>
				<div class="ty-body">
					<div>热门推荐</div>
					<ul>
						<li v-for="item in bodylist" :key="item.id">
							<img :src="`./static/img/${item.icon}.png`" alt="">
							<p v-html='item.title'></p>
							<p v-html='item.tit' class="p"></p>
						</li>
					</ul>
				</div>
			</div>
			 <!-- 第一层 -->
			<div class="isshawed"></div>
			<div class="obscuration">
				<div class="colorEdge"><img src="./static/img/decoration.png" alt="" width="100%" height="100%"></div>
				<div class="cancle" @click="handclose">
					<img src="./static/img/icon_close.png" alt="" width="100%" height="100%">
				</div>
				<div class="title">最高</div>
				<div class="submit" @click="handSumbit"><img src="./static/img/submit.png" alt="" width="100%" height="100%"></div>
			</div>


			<!-- 第二层 -->
			<div class="goodLuck" v-if="isshow"></div>
			<div class="maskLayer" v-if="isshow">
				<div class="tit">幸运</div>
				<div class="main">
					尊敬的优酷会员：恭喜132******35（**雷），189******14（**根）， 134******87（**杰）喜获19日的幸运会员奖励，幸运彩金666已经发放到您的会员账户，请注意查收。感谢广大会员对CPT的支持！
				</div>
				<div class="close" @click="cancle">
					<img src="./static/img/icon_close.png" alt="" width="100%" height="100%">
				</div>
			</div>
		</div>
		<script src='static/js/baseForphone750.v20190523.min.js'></script>
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
		<script src="static/js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
